.inline-block {
    display: inline-block;
    vertical-align: top;
}

.logo {
    width: 23%;
    padding: 1%; 
}


nav {
    width: 95%;
    padding: 1%;
    color: #1E4146; 
    text-align: right;   
    font-family: 'Karla', sans-serif;
}

ul {
    width: 95%;
    margin: 0 auto;
    font-family: 'Karla', sans-serif;

}

li.inline-block {
    display: inline-block;
    padding: 1%;
    vertical-align: top;
    font-weight: bold;
}

li:hover {
    text-decoration: underline;
    text-decoration-color:  #D3B19B;
    
    
    
}

.heroimg {
    height: 500px;
    padding: 25px;
    background-color: #EEF2F2;
}

#profile {
    float: right;
    box-shadow: 10px 10px  #D3B19B;
}



.content {
    width: 900px;
    padding: 50px ;
    text-align: left ;
    margin: auto;
    font-size: 18px;
    font-family: 'Karla', sans-serif;

}



.header {
    text-align: center;
    padding: 20px;
    color: #1E4146;
    font-family: 'Karla', sans-serif;
  
   
}
.mySkills {
    padding: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;


}

.skill1, .skill2, .skill3 {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;}



.text {
    color: black;
    width: 100%;
    text-align: center;
    font-size: 16px;
    font-family: 'Karla', sans-serif;

  }
 
.images {
    justify-content: center;
    margin: auto;
    
   
  }

button {
    background-color: #7D9594;
    border: #7D9594;
    color: white; 
    padding: 15px;
    border-radius: 30px;
    font-family: 'Karla', sans-serif;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);


    
}

button:hover {
    background-color: #D3B19B;
}


.myWork {
    padding: 20px;
    background-color: #EEF2F2;

    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
    "Wanderlust PetBuddies"
    
}

#myuxskills {
    background-color: #EEF2F2;

}

#Wanderlust {
    grid-area: Wanderlust;


}

#PetBuddies {
    grid-area: PetBuddies;



    
}


footer {
    background-color:#1E4146;
    display: inline-block;
    padding: 20px;
   
}


footer.inline-block {
    color: white;
    display: inline-block;
    text-align: center;
    justify-content: space-between;
    width: 97%;
    padding: 25px 25px;
}

@media only screen and (max-width: 600px) {
    .myWork {
        flex-direction: column;
        width: max-content;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: 
        "Wanderlust"
        "PetBuddies"
        ;
    }
}

@media only screen and (max-width: 600px) {
    .mySkills {
        flex-direction: column;
        width: max-content;
        margin: auto;

    }
}
